{% extends "form4/base.html" %}
{% load static %}
{% block content %}
<script src="{%static 'celery_progress/celery_progress.js' %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    console.log('DOM LOADED.')
    var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
    CeleryProgressBar.initProgressBar(progressUrl, {
        pollInterval: 1000
    });
});
</script>
<div>
    Home page
    <div class='progress-wrapper'>
    	<div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
    </div>
    <div id="progress-bar-message">Waiting for progress to start...</div>
    <div id="celery-result"></div>
</div>
{% endblock content %}